#Concessionaria/Concessionaria/Content/* linguist-vendored
#Concessionaria/Concessionaria/scripts/* linguist-vendored
#Concessionaria/Concessionaria/bin/* linguist-vendored
Concessionaria/packages/* linguist-vendored
