################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Concessionaria/.vs/Concessionaria/v15/Server/sqlite3
