@model PagedList<Proprietario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script type="text/javascript">
    function PreencheProprietarios(page) {
        if (page == null)
            page = 1;
        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Proprietarios/Index/")',
            data: { page: page, Pesquisa: $("#txtPesquisa").val() },
            dataType: 'html',
            cache: false,
            async: true,
            success: function (data) {
                $("#divProprietarios").html(data);
            }
        });
    }

        var CreateAutoComplete = function () {
            $input = $(this);
            var options = { source: '@Url.Action("AutoComplete")' };

            $input.autocomplete(options);
        };

    $("#txtPesquisa");
  
</script>


<input type="search" name="Pesquisa" id="txtPesquisa"/>
<input type="button" value="Pesquisar" onclick="PreencheProprietarios()" />

@*@using (Ajax.BeginForm(new AjaxOptions
{
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "divProprietarios"
}))
{
    <input type="search" name="Pesquisa" />
    <input type="submit" value="Pesquisar" />
}*@

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @{Html.RenderPartial("PartialIndex", Model);}



