@model IPagedList<Fabricante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script>
    function PreencheFabricantes(page)
    {
        if (page == null)
            page = 1;
        $.ajax({
            type: 'GET',
            url : '@Url.Content("~/Fabricantes/PartialIndex/")',
            data :  {page : page},
            dataType : 'html',
            cache: false,
            async : true,
            success : function(data)
            {
                $("#divPartial").html(data);
            }
        })
    }
</script>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    @:<div id="divPartial">
       Html.RenderPartial("PartialIndex");
    @:</div>
}